<header>
    <nav class="flex items-center justify-between flex-wrap bg-slate p-6 bg-gray-light">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
          
          <a href="/">
           
            <img src="http://localhost:3000/img/logo.svg" alt="">
          </a>
        </div>
        <div class="block lg:hidden">
          <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-black hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div class="text-sm lg:flex-grow">
            </div>
                <div class="xl:w-96">
                  <div class="input-group relative flex items-stretch w-full  rounded">
                    <input type="search" class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none" placeholder="Cari pakaian" aria-label="Search" aria-describedby="button-addon2">
                    <span class="input-group-text flex items-center px-3 py-1.5 text-base font-normal text-gray-700 text-center whitespace-nowrap rounded" id="basic-addon2">
                      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
                      </svg>
                    </span>
                  </div>
                </div>
            <a href="/sign-in" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-teal-200 mr-4">
                Masuk
            </a>
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-black hover:text-teal-200 mr-4">
              Daftar
          </a>
            <a class="mr-3" href="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="black" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                </svg>
            </a>
            <a class="mr-6"  href="">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>                      
            </a>
          </div>
        </div>
      </nav>
      <nav class="flex items-center justify-between flex-wrap bg-sky-400 p-6">
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
          <div class="flex justify-center text-base gap-4 lg:flex-grow">
            <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-slate-50 hover:text-white md:mr-16">
              BERANDA
            </a>
            <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-slate-50 hover:text-white md:mr-16">
              PRODUK BARU
            </a>
            <a href="/products" class="block mt-4 lg:inline-block lg:mt-0 text-slate-50 hover:text-white md:mr-16">
              KOLEKSI
            </a>
            <a href="/about-us" class="block mt-4 lg:inline-block lg:mt-0 text-slate-50 hover:text-white">
              TENTANG KAMI
            </a>
          </div>
        </div>
      </nav>
</header>