<%- include("../includes/head.ejs") %> 
</head>

    <body>
        <%- include("../includes/navigation.ejs") %>
        <section class="bg-slate dark:bg-gray-900">
            <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:pt-0 lg:pb-48">
                <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
                    <img class=" mr-2" src="img/logo.svg" alt="logo">  
                </a>
                <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0 ">
                    <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                        <h1 class="text-xl font-bold leading-tight tracking-tight text-slate-900 md:text-2xl">
                            Daftar Akun
                        </h1>
                        <form class="space-y-4 md:space-y-6" action="#">
                            <div>
                                <label for="email" class="block mb-2 text-sm font-medium text-slate-900 ">Email Anda</label>
                                <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-slate-600 focus:border-slate-600 block w-full p-2.5" placeholder="nama@email.com" required="">
                            </div>
                            <div>
                                <label for="password" class="block mb-2 text-sm font-medium text-slate-900 ">Sandi</label>
                                <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-slate-600 focus:border-slate-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                            </div>
                            <div>
                                <label for="confirm-password" class="block mb-2 text-sm font-medium text-slate-900 ">Konfirmasi sandi</label>
                                <input type="confirm-password" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-slate-600 focus:border-slate-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                            </div>
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                  <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-slate-300" required="">
                                </div>
                                <div class="ml-3 text-sm">
                                  <label for="terms" class="font-light text-slate-500">Saya terima <a class="font-medium text-sky-600 hover:text-sky-800 hover:underline" href="#">Syarat & Ketentuan</a></label>
                                </div>
                            </div>
                            <button type="submit" class="w-full text-white bg-sky-500 hover:bg-sky-700 focus:ring-4 focus:outline-none focus:ring-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Daftar akun</button>
                            <p class="text-sm font-light text-slate-500">
                                Sudah memiliki akun? <a href="#" class="font-medium text-sky-600 hover:text-sky-800 hover:underline">Masuk di sini</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
          </section>
        <%- include ("../includes/footer.ejs") %>
        <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <%- include("../includes/end.ejs")  %> 